html, body {
  height: 100%;
  min-height: 420px;
  min-width: 300px;
  margin: 0;
  color: #4f4f4f;
  background: #fff;
  font-family: open-sans,Roboto;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

header > div {
	margin-left: 5rem;
	margin-right: 5rem;
}

.search-box * {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.search-box input {
  padding-left: 2rem !important;
}
#home-search {
    margin-left: 0px;
    margin-right: 0px;
}

#home-cat-listing {
    margin-right: 0px;
    margin-left: 0px;
}

.business-card {
	padding: 0px !important;
	height: 180px !important;
}

.business-card > .card-image > img {
	height: 100px;
}


.business-card .card-title {
 margin-left: 1rem;
 font-size: 18px;
}

.business-card .right-align {
 margin-right: 1rem;
}

.lead {
	font-size: 18px;
}

.txt-secondary {
	color: #666;
}

.nav > a:nth-of-type(2) {
    margin-left: 10px;
}

.input-field {
	width: 100%;
}


a:hover {
 text-decoration: underline;
}

.logo:hover {
  text-decoration: none !important;
}

.bg-primary {
	background-color: #f2f2f2 !important;
}

.bg-blue {
 background-color: #2F80ED;
}
.bg-green {
 background-color: #6fcf97;
}

.bg-blue:hover {
  background-color: #1d5eb5;
}

.bg-blue:focus {
  background-color: #1d5eb5;
}


.bg-white {
	background-color: white;
}

.txt-green {
 color: #6fcf97;
}

.txt-blue {
  color: #2F80ED;
}

.txt-white {
	color: white;
}

.txt-red {
  color: #ff8282;
}

.px-0 {
 padding-right: 0px !important;
 padding-left: 0px !important;
}

.ml-0 {
	margin-left: 0px !important;
}

.mxy-auto {
	margin: auto !important;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.main {
	flex-grow: 2;
}

.small {
	font-size: small;
}

.large {
	font-size: larger;
}

.x-large {
	font-size: x-large;
}


.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column-flex {
	flex-direction: column;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-evenly {
	justify-content: space-evenly;
}

.justify-center {
	justify-content: center;
}

.justify-space-around {
	justify-content: space-around;
}

.flex-end {
	justify-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.w-100 {
	width: 100%;
}

.bottom-divider {
  border-bottom: 2px solid #f2f2f2;
}

.top-divider {
  border-top: 2px solid #f2f2f2;
}

.left-divider {
  border-left: 2px solid #f2f2f2;
}

.right-divider {
  border-right: 2px solid #f2f2f2;
}

.box {
  border: 2px solid #f2f2f2;
  margin-top: 3px;
  margin-bottom: 3px;
}

.box textarea {
  margin-bottom: 0px;
}

.box input[type="text"] {
  margin-bottom: 0px;
}

#add-photo {
  height: 160px;
  position: absolute;
  top: -80px;
}


.relative {
    position: relative !important;
  }



.s1 {
  width: 7.69230%;
}

.s2 {
  width: 15.384615%;
}

.s3 {
  width: 23.0769%;
}

.s4 {
  width: 30.7692%;
}

.s5 {
  width: 38.4615%;
}

.s6 {
  width: 46.1538%;
}

.s7 {
  width: 53.8461%;
}

.s8 {
  width: 61.5384%;
}

.s9 {
  width: 69.2307%;
}

.s10 {
  width: 76.9230%;
}

.s11 {
  width: 84.6153%;
}

.s12 {
  width: 92.3076%;
}

.s13 {
  width: 100%;
}

#btn-search {
  text-decoration: none;
  cursor: pointer;
}

.img-preview {
    height: 100px;
  }


@media only screen and (min-width: 601px) {
  .m1 {
    width: 7.69230%;
  }
  .m2 {
    width: 15.384615%;
  }
  .m3 {
    width: 23.0769%;
  }
  .m4 {
    width: 30.7692%;
  }
  .m5 {
    width: 38.4615%;
  }
  .m6 {
    width: 46.1538%;
  }
  .m7 {
    width: 53.8461%;
  }
  .m8 {
    width: 61.5384%;
  }
  .m9 {
    width: 69.2307%;
  }
  .m10 {
    width: 76.9230%;
  }
  .m11 {
    width: 84.6153%;
  }
  .m12 {
    width: 92.3076%;
  }

  .m13 {
    width: 100%;
  }

  .relative > .signup {
    position: absolute;
    bottom: -500px;
  }

  

  
  
}

@media only screen and (min-width: 993px) {
  .l1 {
    width: 7.69230%;
  }
  .l2 {
    width: 15.384615%;
  }
  .l3 {
    width: 23.0769%;
  }
  .l4 {
    width: 30.7692%;
  }
  .l5 {
    width: 38.4615%;
  }
  .l6 {
    width: 46.1538%;
  }
  .l7 {
    width: 53.8461%;
  }
  .l8 {
    width: 61.5384%;
  }
  .l9 {
    width: 69.2307%;
  }
  .l10 {
    width: 76.9230%;
  }
  .l11 {
    width: 84.6153%;
  }
  .l12 {
    width: 92.3076%;
  }
  .l13 {
   width: 100%;
  }

  #cover-photo {
    height: 350px;
  }

  #business-left {
    padding-right: 20px;
  }

}

@media only screen and (min-width: 1201px) {
  .xl1 {
    width: 7.69230%;

  }
  .xl2 {
    width: 15.384615%;

  }
  .xl3 {
    width: 23.0769%;

  }
  .xl4 {
    width: 30.7692%;
  }
  .xl5 {
    width: 38.4615%;
  }
  .xl6 {
    width: 46.1538%;
  }
  .xl7 {
    width: 53.8461%;
  }
  .xl8 {
    width: 61.5384%;
  }
  .xl9 {
    width: 69.2307%;
  }
  .xl10 {
    width: 76.9230%;
  }
  .xl11 {
    width: 84.6153%;
  }
 .xl12 {
   width: 92.3076%;
 }
 .xl13 {
   width: 100%;
 }
}

