<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <style type="text/css">
        #app, .main{
          height: 100%;
        }
        main > section:nth-of-type(1) {
          background-image: url('images/back.jpg');
          
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-position: center top;
          height: 65%;
        }

        main > section:nth-of-type(2) {
          height: 35%;
        }
        #cover {
           background: rgba(0, 0, 0, 0.6);
           height: 100%;
        }
      </style>
    </head>

    <body>
      <section id="app" class="flex column-flex justify-space-between">
        <!--<header>
          <div class="flex justify-space-between">
            <span>
              <a class="logo" href="/"><h5><span class="txt-blue">We</span><span class="txt-green">Connect</span></h5></a>
            </span>
            <span></span>
            <span></span>
         </div>
        </header>-->
        <main class="main flex column-flex justify-space-between">
          <section >
            <div id="cover" class="flex wrap justify-space-evenly align-items-center">
              <div class="s10 m5 l3 center-align">
                <a class="logo" href="/"><h4><span class="txt-blue">We</span><span class="txt-green">Connect</span></h4></a>
                <p class="txt-secondary">
                  Create a free WeConnect account to connect with your old and new customers
                </p>
              </div>
              <div class="relative s10 m5 l4">
                <div class="card-panel signup flex column-flex align-items-center">
              <h4>Sign up</h4>
                <div class="input-field">
                  <input placeholder="Your full name" id="email" type="text" class="validate">
                </div>
                <div class="input-field">
                  <input placeholder="Phone number" id="phone" type="text" class="validate">
                </div>
                <div class="input-field">
                  <input placeholder="Email Address" id="email" type="email" class="validate">
                </div>
                <div class="input-field">
                  <input placeholder="Password" id="password" type="password" class="validate">
                </div>
                <div class="input-field">
                  <input placeholder="Confirm Password" id="password" type="password" class="validate">
                </div>
                <button class="btn btn-large waves-effect waves-light bg-blue w-100" type="submit" name="action">Log In
                </button>
              <p class="">By clicking this button you agree to WeConnect</p>
              <a class="txt-green" href="register.html">Anti-spam Policy &amp; Terms of Use</a>
            </div>
              </div>
            </div>
          </section>
          <section>
          </section>
          <!--<div class="s10 m5 l5 mxy-auto">
            <div class="card-panel flex column-flex align-items-center">
              <h4>Log In</h4>
                <div class="input-field">
                  <input placeholder="Email Address" id="email" type="text" class="validate">
                </div>
                <div class="input-field">
                  <input placeholder="First name" id="password" type="password" class="validate">
                </div>
                <button class="btn btn-large waves-effect waves-light bg-blue w-100" type="submit" name="action">Log In
                </button>
              <p class="align-self-end x-large">You don't have an account with us? <a class="txt-green" href="register.html">Sign Up</a></p>
            </div>
          </div>-->
        </main>
        <footer class="flex bg-primary wrap justify-space-evenly">
          <p>
            <a class="large" href="newbusiness.html">Register your business</a>
          </p>
          <h4 class="x-large">
            &copy; WeConnect 2018
          </h4>
          <span></span>
        </footer>
      </section>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>