html, body {
    height: 100%;
    min-height: 420px;
    margin: 0;
    color: #222;
    background: #ffffff;
    font-family: open-sans,Roboto;
    /*font-size: small;*/
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 50px;
	padding-left: 50px;
}

.small {
	font-size: small;
}


.mxy-auto {
	margin: auto;
}

.w-100 {
	width: 100% !important;
}

.w-50 {
	width: 50% !important;
}


.nav > a, footer a {
	text-decoration: none;
	color: #666 !important;
}

.nav > a:nth-of-type(2){
 	margin-left: 10px;
}

.nav > a:hover, footer a:hover {
	text-decoration: underline;
}

.w-75 {
	width: 75% !important;
}

.h-100 {
	height: 100% !important;
}

.h-50 {
	height: 50% !important;
}

.bg-primary {
	background-color: #f2f2f2;
}

.bg-white {
	background-color: white;
}


.flex {
	display: flex;
}

.column-flex {
	flex-direction: column;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-evenly {
	justify-content: space-evenly;
}

.justify-center {
	justify-content: center;
}

.flex-end {
	justify-content: flex-end;
}

.align-items-center {
	align-items: center;
}

#landingMain {
	flex-grow: 2;
}

.search-box {
	width: 100%;
	display: grid !important;
}

.search-box > .search-value {
	margin-bottom: 10px;
	border-right: 2px solid #828282;

}

.search-box > .location {
	margin-bottom: 10px;
}

.search-box .text-field-control {
	font-size: 18px;
}



.text-field-control {
	height: 36px;
	border: none;
}

.text-field-control:focus {
	height: 36px;
	outline: none;
}

.logo a {
	text-decoration: none
}

header .logo {
	margin-top: 0px;
	margin-bottom: 0px;
}



/*
#login-board {
	width: 75%;
}
*/




@media (min-width: 700px) {
	.search-box {
		grid-template-columns: 45% 45% 10% !important;
	}

	.search-box > * {
		margin-bottom: 0px !important;
	}
}

@media (min-width: 979px) {
	#welcomeSearch {
		width: 700px !important;
	}
}



@media (max-height: 600px) {
	html, body {
	    min-height: 650px;
	}
}





/* Large desktop */
@media (min-width: 1200px) {
	#login-board {
		width: 600px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#login-board {
		width: 500px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#login-board {
		width: 90%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) { 
	#login-board {
		width: 100%;
	}
}


