html, body {
    height: 100%;
    min-height: 420px;
    margin: 0;
    color: #222;
    background: #ffffff;
    /*font-family: arial,sans-serif;*/
    /*font-size: small;*/
}

.mxy-auto {
	margin: auto;
}

.w-100 {
	width: 100% !important;
}

.w-50 {
	width: 50% !important;
}

.w-75 {
	width: 75% !important;
}

.h-100 {
	height: 100% !important;
}

.h-50 {
	height: 50% !important;
}

.bg-primary {
	background-color: #f2f2f2;
}

.bg-white {
	background-color: white;
}


.flex {
	display: flex;
}

.column-flex {
	flex-direction: column;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

#landingMain {
	flex-grow: 2;
}




/*
#login-board {
	width: 75%;
}
*/








/* Large desktop */
@media (min-width: 1200px) {
	#login-board {
		width: 600px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#login-board {
		width: 500px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#login-board {
		width: 90%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) { 
	#login-board {
		width: 100%;
	}
}


