html, body {
  height: 100%;
  min-height: 420px;
  min-width: 300px;
  margin: 0;
  color: #4f4f4f;
  background: #fff;
  font-family: open-sans,Roboto;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

header > div {
	margin-left: 5rem;
	margin-right: 5rem;
}

#home-search {
    height: 40%;
    margin-left: 0px;
    margin-right: 0px;
}

#home-cat-listing {
    height: 60%;
    margin-right: 0px;
    margin-left: 0px;
}

.business-card {
	padding: 0px !important;
	height: 150px !important;
}

.business-card > .card-image > img {
	height: 80px;
}


.business-card .card-title {
 margin-left: 1rem;
 font-size: 18px;
}

.business-card .right-align {
 margin-right: 1rem;
}

.lead {
	font-size: 18px;
}

.txt-secondary {
	color: #666;
}

.nav > a:nth-of-type(2) {
    margin-left: 10px;
}

a:hover {
 text-decoration: underline;
}

.bg-primary {
	background-color: #f2f2f2 !important;
}

.bg-blue {
 background-color: #2F80ED;
}


.bg-white {
	background-color: white;
}

.txt-green {
 color: #6fcf97;
}

.txt-blue {
  color: #2F80ED;
}

.txt-white {
	color: white;
}

.px-0 {
 padding-right: 0px !important;
 padding-left: 0px !important;
}

.ml-0 {
	margin-left: 0px !important;
}

.mxy-auto {
	margin: auto;
}

.main {
	flex-grow: 2;
}

.small {
	font-size: small;
}

.large {
	font-size: larger;
}

.x-large {
	font-size: x-large;
}


.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column-flex {
	flex-direction: column;
}

.justify-space-between {
	justify-content: space-between;
}

.justify-space-evenly {
	justify-content: space-evenly;
}

.justify-center {
	justify-content: center;
}

.justify-space-around {
	justify-content: space-around;
}

.flex-end {
	justify-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.input-field {
	width: 100%;
}


.s1 {
  width: 8.3333333333%;
}

.s2 {
  width: 16.6666666667%;
}

.s3 {
  width: 25%;
}

.s4 {
  width: 33.3333333333%;
}

.s5 {
  width: 41.6666666667%;
}

.s6 {
  width: 50%;
}

.s7 {
  width: 58.3333333333%;
}

.s8 {
  width: 66.6666666667%;
}

.s9 {
  width: 75%;
}

.s10 {
  width: 83.3333333333%;
}

.s11 {
  width: 91.6666666667%;
}

.s12 {
  width: 100%;
}


@media only screen and (min-width: 601px) {
  .m1 {
    width: 8.3333333333%;
  }
  .m2 {
    width: 16.6666666667%;
  }
  .m3 {
    width: 25%;
  }
  .m4 {
    width: 33.3333333333%;
  }
  .m5 {
    width: 41.6666666667%;
  }
  .m6 {
    width: 50%;
  }
  .m7 {
    width: 58.3333333333%;
  }
  .m8 {
    width: 66.6666666667%;
  }
  .m9 {
    width: 75%;
  }
  .m10 {
    width: 83.3333333333%;
  }
  .m11 {
    width: 91.6666666667%;
  }
  .m12 {
    width: 100%;
  }
  
}

@media only screen and (min-width: 993px) {
  .l1 {
    width: 8.3333333333%;
  }
  .l2 {
    width: 16.6666666667%;
  }
  .l3 {
    width: 25%;
  }
  .l4 {
    width: 33.3333333333%;
  }
  .l5 {
    width: 41.6666666667%;
  }
  .l6 {
    width: 50%;
  }
  .l7 {
    width: 58.3333333333%;
  }
  .l8 {
    width: 66.6666666667%;
  }
  .l9 {
    width: 75%;
  }
  .l10 {
    width: 83.3333333333%;
  }
  .l11 {
    width: 91.6666666667%;
  }
  .l12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1201px) {
  .xl1 {
    width: 8.3333333333%;

  }
  .xl2 {
    width: 16.6666666667%;

  }
  .xl3 {
    width: 25%;

  }
  .xl4 {
    width: 33.3333333333%;
  }
  .xl5 {
    width: 41.6666666667%;
  }
  .xl6 {
    width: 50%;
  }
  .xl7 {
    width: 58.3333333333%;
  }
  .xl8 {
    width: 66.6666666667%;
  }
  .xl9 {
    width: 75%;
  }
  .xl10 {
    width: 83.3333333333%;
  }
  .xl11 {
    width: 91.6666666667%;
  }
 .xl12 {
    width: 100%;
  }
}

